$primary-dark: rgb(43, 55, 80);
$primary-dark-lighter: rgb(51, 64, 92);

$secondary-dark: rgb(39, 48, 66);

$primary-light: rgb(140, 154, 184);
$secondary-light: rgb(81, 89, 109);

$primary-orange: rgb(230, 165, 45);

$window-height: 600px;

$color-off: #222a3b;
$color-weak: #cc9a3c;
$color-on: #319431